.nav {
    margin-top: -100px;
    background-color:rgba(161, 34, 159, 0.507);
    height: 70px;
}
.he{
  margin-top: -20px;
  margin-left: 650px;
  width:50px;
  height:50px;
}

.nav t{
    color:rgba(255, 255, 255, 0.459)(222, 215, 215, 0.444);
    font-weight: bolder;
    font-family:'Pacifico', cursive;
    margin-left: -10px;
    size: 50px;
    font-size: 30px;

}
.gify{
    padding-left: 100px;
    padding-top: 30px;
}
.bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  /*quotes*/
 
#carouselExampleControls{
  width:50%;
  margin-left:25%;
  padding-bottom: 40px;
  padding-top: 40px;
}



/*icons-lap*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
  }
  body {
    background-color: #eee;
    color: #000;
    padding-top: 100px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: rgba(9, 146, 105, 0.8);
  }

  .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    max-width: 90rem;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .item {
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to right bottom, #dee2e6, #dbdbdb);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.507);
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.3s;
    
    position: relative;
  }

  .item4.item{
  position: relative;
  left:302px;
  }

  .item:hover {
    transform: translateY(-1.1rem);
  }

  .item-photo {
    width: 100%;
    align-self: center;
  }

  .item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 2rem;
    gap: 1rem;
  }

  .item-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .item-title {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .item-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.3;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .item-link:link,
  .item-link:visited {
    display: inline-block;
    font-size: 1.6rem;

    padding: 1.6rem 2.4rem;
    text-decoration: underline rgb(121, 14, 125) 2px solid;
    color: rgb(144, 43, 142);

    /* stick link to the bottom of item */
    margin-top: auto;
  }

  .item-link:hover,
  .item-link:active {
    color: rgb(107, 0, 97);
    text-decoration: underline rgb(107, 13, 110) 2px solid;
  }

  /* TABLETS */
  @media (max-width: 950px) {
    h1 {
      font-size: 2.8rem;
    }

    .features {
      grid-template-columns: 1fr 1fr;
      max-width: 60rem;
    }

    .item1 {
      grid-column: span 2;
    }

    .item-title {
      font-size: 3rem;
    }

    .item-text {
      font-size: 2rem;
    }

    .item-link:link,
    .item-link:visited {
      font-size: 2rem;
    }
  }

  /* MOBILES */
  @media (max-width: 650px) {
    .features {
      grid-template-columns: 1fr;
      max-width: 30rem;
    }

    .item1 {
      grid-column: span 1;
    }

    h1 {
      font-size: 2.4rem;
    }
  }

  
/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

footer{
    background-color:rgba(117, 21, 115, 0.603);
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #f4a4e6a0;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:rgba(138, 17, 136, 0.486);
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}