<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Reminder</title>
  <link rel="stylesheet" href="reminder.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <!--Google Fonts-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="htt   ps://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <!--Header-->
  <nav class="nav">
    <div class="logo">
         <br>
        <img src="letter-h.png" class="he" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <t>OMELY </t>
        <br>
    </div>
</nav>    

    <img class="gify" src="rem.gif">

  <!--reminder-->
<div id="app">
  <img src="bg.jpeg" alt="" class="bg">
  <h1>Time is {{ time.getHours()  != 12 ? time.getHours() % 12 : 12 }}:{{ ('0' + time.getMinutes()).slice(-2) }}{{ time.getHours() >= 12 ? 'PM' : 'AM' }}</h1>
  <Button  v-on:click="stopAlarm" v-if="alarm_going_off" >Stop alarm</Button>
  <select id="hour">
    <option>12</option>
    <option v-for="i in 1,11">{{ i }}</option>
  </select>:<select id="minute">
    <option v-for="i in 60">{{ ('0' + (i-1)).slice(-2) }}</option>
  </select>
  <select id="am_pm">
    <option>AM</option>
    <option>PM</option>
  </select> <strong>For:</strong>
  <input type="text" id="alarm_message" @keyup.enter="saveAlarm" />
  
  <br>
  
  <button class="text"  v-on:click="saveAlarm" >Save alarm</button>
  <table>
    <tr v-for="(alarm, i) in alarms">
      <td>{{alarm.hour}}:{{ ('0' + (alarm.minute)).slice(-2) }}{{ alarm.am_pm}}</td>
      <td>{{ alarm.message}}</td>
      <td><button v-on:click="deleteAlarm(i)">Delete</button>
    </tr>
  </table>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js'></script><script  src="./reminder.js"></script>



   <!--Footer-->
  
   <footer>
    <ul class="icons">
        <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
    <ul class="menu">
      <li><a href="login.php">Home</a></li>
      <li><a href="#targt">About</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#targt">Specialties</a></li>
      <li><a href="mail to:aathi7257@gmail.com">Contact Us</a></li>
    </ul>
    <br>
    <div class="us">
      
    Build by , <br>Aleena Pascal<br>Anju CS<br>Athira P<br>Shivangi Sudheer Kumar
    </div>
        <div class="footer-copyright">
            <p>Copyright @ 2022 All Rights Reserved.</p>
        </div>
</footer>

</body>
</html>